*{
    border: solid 1px #000;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}

.card{
    width: 250px;
    padding: 0;
    text-align: left;
}

.card__content{
    padding: 0 20px
}